body, html {
    height: 100%;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a:link {
	color: #5585f2;
        text-decoration: none;
}
a:visited {
	color: #5585f2;
        text-decoration: none;
}
a:hover {
	color: #6d7077;
        text-decoration: none;
}
a:active {
	color: #5585f2;
        text-decoration: none;
}

@font-face {
	font-family: "Proxima Nova";
	src:url('Proxima-Nova.ttf');
}

.header {
	font-family: "Proxima Nova";
	text-align: center;
	color: #5585f2;
	font-size: 30px;
	top:20px;
	padding-right: 0px;
	padding-left: 0px;
	position:relative;
	header:link {
		text-decoration: none;
	}
	header:visited {
    text-decoration: none;
	}
}

.email_text {
	/*text-shadow:
		-1px -1px 0 #5585f2,
		1px -1px 0 #5585f2,
		-1px 1px 0 #5585f2,
		1px 1px 0 #5585f2;*/
	font-family: "Proxima Nova";
	color: #6d7077;
	font-size: 30px;
	top:100px;
	padding-right: 20px;
	padding-left: 0px;
	position:relative;
	text-align: center;
}


.email {
	font-family: "Proxima Nova";
	color: #5585f2;
	font-size: 60px;
	top:150px;
	padding-right: 20px;
	padding-left: 0px;
	position:relative;
	text-align: center;

}
#header {
  text-align: center;
}
.left {
  float: left;
  height: 80px;
  position:center;
  padding-left: 450px;
  padding-top: 300px;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.right {
  float: right;
  height: 70px;
  position:center;
  padding-right: 450px;
  padding-top: 300px;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


