body, html {
	height: 100%;
	margin: 0;
	background-color: black;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Montserrat', sans-serif;

}

img {
	width: 100%;
	height: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.about {
			width: 800px;
			margin: auto;
			padding: 30px;
			
		}


.bg {
	/* The image used */
	/*background-image: url("sona-fixed.gif");*/

	/* Full height */
	width: 100%; 

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

ul {
			margin: 0;
			/*display: inline-block;*/
			padding: 0 0px;
			font-size: 60px;
			letter-spacing: 2px;
			padding-top: 40px;
			padding-bottom: : 25px;

		}

		li {
			display: inline-block;
			padding: 0 20px;
			font-size: 100px;
			letter-spacing: 2px;
			font-weight: bold;
		}

		span {
			position: relative;
			display: block;
			cursor: pointer;
		}

		span:before, span:after {
			content: '';
			position: absolute;
			width: 0%;
			height: 10px;
			top: 50%;
			margin-top: -0.5px;
			background: #fff;
		}

	/*span:before {
	  left: -2.5px;
	  }*/
	  span:after {
		right: 5px;
		background: #fff;
		transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
	  }

	  span:hover:before {
		background: #fff;
		width: 100%;
		transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
	  }

	  span:hover:after {
		background: transparent;
		width: 100%;
		transition: 0s;
	  }
