.mobile {
	height: 100;
}

.col {
   display: flex;
   justify-content: center;
   align-items: center;
 
}

* {
	cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='49' height='59' viewport='0 0 100 100' style='fill:black;font-size:29px;'><text y='50%'>🕺🏼</text></svg>") 16 0,auto; /*emojicursor.app*/
}